<ul class="menu-desktop">
    <li><a href="#">Candidatos <img src="/img/icon-arrow-right.svg" alt="Icone arrow right"></a></li>
    <li><a href="#">Empresas <img src="/img/icon-arrow-right.svg" alt="Icone arrow right"></a></li>
    <li><a href="#">Curriculo Premium </a></li>
    <li><a href="#">Quem somos</a></li>
    <li><a href="#">Blog </a></li>
    <li><a href="#">Contato </a></li>
</ul>