<header id="navbar">
    <nav>
        <a href="/"><img src="/img/logo.svg" alt="Logo Jobs"></a>
        <%- include('navigation') %>
            <%- include('menu-desktop') %>
                <button type="button" class="btn-active"><img src="/img/menu-active.svg"
                        alt="Icone de ativar o menu"></button>
    </nav>
</header>