<header id="navbar">
    <nav>
        <a href="/"><img src="/img/logo.svg" alt="Logo Jobs"></a>
        <%- include('navigation') %>
            <button><img src="/img/menu-active.svg" alt="Icone de ativar o menu"></button>
    </nav>
</header>