<header id="navbar">
    <div>
        <div>
            <a href="/"><img src="/img/logo.svg" alt="Logo Jobs"></a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Empresas</a></li>
                <li><a href="#">Candidatos</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>

        <div class="">
            <a href="#" class="login">Entrar</a>
            <button><img src="/img/icon-active-menu.svg" alt="Icone menu toggle"></button>
        </div>
    </div>
</header>