<div id="drawer">
    <div class="overlay"></div>
    <div class="navigation">
        <header>
            <img src="/img/logo.svg" alt="Logo Jobs">
            <button type="button" class="btn-inactive"><img src="/img/menu-inactive.svg"
                    alt="Icone de desativar o menu"></button>
        </header>

        <nav>
            <ul>
                <li><a href="#">Candidatos <img src="/img/icon-arrow-right.svg" alt="Icone arrow right"></a></li>
                <li><a href="#">Empresas <img src="/img/icon-arrow-right.svg" alt="Icone arrow right"></a></li>
                <li><a href="#">Curriculo Premium </a></li>
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Blog </a></li>
                <li><a href="#">Contato </a></li>
            </ul>
        </nav>
        <div>

            <div id="buttons">
                <a class="login" href="#">Login</a>
                <a class="register" href="#">Cadastre-se</a>
            </div>
            <div id="social">
                <ul>
                    <li><a href="#"><img src="/img/icon-facebook.svg" alt="Icone do Facebook"></a></li>
                    <li><a href="#"><img src="/img/icon-whatsapp.svg" alt="Icone do WhatsApp"></a></li>
                    <li><a href="#"><img src="/img/icon-instagram.svg" alt="Icone do Instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>