html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  color: var(--text-color);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
