@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  width: 100%;
  height: auto;
  font-size: 62.5%;
  color: #333;
  box-sizing: border-box;
}
