.menu-desktop {
  display: none;

  @media (min-width: 920px) {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    > li {
      > a {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--text-color);
        transition: all 0.5 ease-in-out;
        > img {
          width: 6px;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
